/* body */
.body {
  max-width: 100%;
}
/* body end */

/* Navbar */
.navbar {
  background-color: #15181d;
}
.logo-navbar {
  margin: 1rem 19.9rem 1rem 0rem;
}

.nav-item {
  margin-left: 4rem;
}
.nav-link {
  font-size: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}
.nav-link:hover {
  color: #007bff;
}

.navbar-toggler {
  width: 47px;
  height: 34px;
  background-color: #fff;
  border: none;
}
.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #000;
  margin-bottom: 5px;
}
/* Akhir Navbar */

/* jumbotron */
.jumbotron-fluid {
  background-color: #15181d;
  background-size: cover;
  height: 890px;
  position: relative;
  overflow: hidden;
}
.img-jumbotron {
  width: 75%;
}
.jumbotron-heading {
  font-size: 4.375rem;
  padding-left: 48%;
  margin-right: 0.5rem;
  margin-top: -35%;
  color: #fff;
}
.jumbotron-heading span {
  font-weight: 500;
}
#btn-jumbotron {
  margin-top: 1.5%;
  margin-left: 48%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0%;
  width: 10%;
  transition: 0.4s;
}
#btn-jumbotron:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.jumbotron-link {
  margin: 2rem 0rem 3rem 47rem;
}
/* jumbotron end */

/* Stock */
#stock {
  padding-top: 3%;
}
.Heading-stock {
  font-size: 140%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  overflow: hidden;
}

.Heading-stock-card {
  padding-top: 2%;
  font-size: 180%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}

.nav-item-stock {
  margin-right: 5rem;
  margin-left: 1rem;
}
#navbar-icon {
  width: 75px;
  fill: #fff;
}
.form-stock {
  padding-top: 5%;
  background-color: #15181d;
}
.form-control {
  margin: 1% 0% 1% 0%;
  width: 25%;
  border-radius: 0%;
}
#btn-search {
  margin: 1% 0% 1% 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0%;
  width: 10%;
  transition: 0.4s;
}
#btn-search:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.container-stock {
  background-color: #15181d;
}
.card-body {
  background-color: #15181d;
  color: #fff;
  border-radius: 0% #151515;
}
#stock-card .p-1 {
  background-color: #15181d;
}
.card-title-stock {
  font-size: 28px;
}
.card-price-stock {
  font-size: 24px;
  color: #ffcb00;
}
/* Stock end */

/* Location start */
.our-location {
  background-color: #15181d;
  padding-bottom: 5%;
  overflow: hidden;
}
.google-maps {
  margin-top: 1%;
  margin-left: 12%;
  position: relative;
  overflow: hidden;
}
.location-heading {
  font-weight: 400;
  padding-top: 5rem;
  color: #fff;
  font-size: 70px;
}

.info-location {
  background-color: #15181d;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 5.5);
  margin-top: -13rem;
  margin-left: -21rem;
  position: absolute;
}

#owner-img {
  width: 30%;
  margin-top: -1%;
  margin-bottom: 2%;
  margin-left: 2%;
}
#btn-contact {
  margin: 0% 0% 2% 10%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0%;
  width: 70%;
  transition: 0.4s;
}
#btn-contact:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#contact h4 {
  margin-top: 10%;
  padding-left: 10%;
  color: #fff;
}

.owner {
  color: #fff;
  margin-top: 2%;
}

.owner h4 {
  margin-top: 4%;
  padding-left: 40%;
}

.owner p {
  padding-left: 40%;
}

/* 
.form-location {
  background-color: #15181d;
  width: 50rem;
  margin-top: -5%;
  margin-left: 33%;
  position: absolute;
  box-shadow: 20% #15181d;
}
.card-title-location {
  font-size: 36px;
  margin-top: -10%;
  padding-bottom: 2%;
}
#btn-location {
  margin-top: 1.5%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0%;
  width: 50%;
  transition: 0.4s;
}
#btn-location:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
 */
#detail-location .p-1 {
  background-color: #15181d;
}
#detail-location {
  color: #fff;
  padding-top: 5rem;
}
/* Location end */

/* Reability-Used-Cars */
.Reability-Used-Cars {
  background-color: #15181d;
  padding-top: 3%;
  overflow: hidden;
}
.Reability-Used-Cars-img {
  width: 65%;
  margin-left: 65rem;
  margin-top: -3%;
}
.Reability-heading {
  font-size: 6.375rem;
  margin-left: 10%;
  padding-bottom: 40%;
  margin-right: 0.5rem;
  margin-top: -35%;
  color: #fff;
}
#caption-Reability-Used-Cars {
  font-size: 1.975rem;
  margin-left: 25%;
  margin-right: 92rem;
  padding-bottom: 30%;
  margin-top: -40%;
  color: #fff;
}
/* Reability-Used-Cars end */

/* quality-control */
.quality-control {
  background-color: #15181d;
  margin-top: -15%;
  overflow: hidden;
}
.quality-control-img {
  height: 60rem;
  margin-left: -3rem;
}
.qualitycontrol-heading {
  font-size: 6.375rem;
  padding-left: 43%;
  padding-bottom: 50%;
  margin-top: -30%;
  color: #fff;
}
#caption-quality-control {
  font-size: 1.975rem;
  padding-left: 50%;
  padding-right: 6%;
  padding-bottom: 30%;
  margin-top: -50%;
  color: #fff;
}
/* quality-control end*/

/* interior-usedcar */
.interior-usedcar {
  background-color: #15181d;
  margin-top: -15%;
  overflow: auto;
}
.interior-usedcar-img {
  height: 60rem;
  width: 100%;
  padding-left: 65rem;
  margin-top: -3%;
}
.interior-usedcar-heading {
  font-size: 6.375rem;
  padding-left: 3%;
  padding-bottom: 20%;
  margin-right: 47%;
  margin-top: -25%;
  color: #fff;
}
/* interior-usedcar end*/

/* Going-back-top */
#btn-gobacktotop {
  font-size: 1.375rem;
  margin: -2% 3% 3% 3%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 0%;
  width: 10%;
  transition: 0.4s;
}
#btn-gobacktotop:hover {
  background-color: #007bff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
/* end */

/* Footer */
.footer {
  background-color: #15181d;
  padding: 15rem 0rem 2rem 0rem;
  margin-top: -10%;
}
.footer-title {
  color: #fff;
}
/* Footer end */

/* MOBILE VERSION*/
@media (max-width: 768px) {
  .jumbotron-heading {
    font-size: 1.8rem;
    padding-left: 48%;
    margin-right: 0.5rem;
    margin-top: -35%;
    color: #fff;
  }
  #btn-jumbotron {
    font-size: 0.8rem;
    margin-top: 1.5%;
    margin-left: 48%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 0%;
    width: 15%;
    transition: 0.4s;
  }
  #btn-jumbotron:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  .jumbotron-link {
    width: 100%;
    margin: 13rem 0rem 3rem 1rem;
  }
}
